#main {
  margin: 50px 50px 0 100px;
}

#btn1 {
  margin: 50px 80px 80px 250px;
  
}

#btn2 {
  margin:50px 80px 80px 250px;
}

#greetings {
  background-color:#800020;
  padding:20px;
  border-radius: 7.5px;
  color: white;
  border: solid black 3px;
}

#greetings h5 {
  font-family: cursive;
}